<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <title>MicroService</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">
   
  </head>
  <body>
    <div class="well jumbotron">
      <h1>MicroService(Mapping) using Express</h1>
      <p><a href="http://localhost:3000/mapping/resourceRecommondation/" target="_blank">API1-> getResourceRecommondation:指定されるrequirementに対してMappingリソース情報（複数可）を返す</a>
      </p>
      <p><a href="http://localhost:3000/mapping/demandRecommondation/" target="_blank">API2-> getDemondRecommondation:指定されるリソース情報に対してMappingされるDemond情報（複数可）を返す</a>
      </p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>
  </body>
</html>